
.container{
   width: 800px;
   height: 450px;
   margin: 0 auto;
   border: 2px solid grey;
}
.nav{
    height: 150px;
    background-color:rgb(12, 186, 186);

}
.user{
    margin: 80px 30px;
    width: 150px;
    height: 120px;
    border: 2px solid grey;
    border-radius: 50%;
    

}
h1{
    margin: 60px 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    
}
img{
    width: 20px;
    height: 20px;
    margin-left: 20px;
}
p{
    margin-left: 20px;
    width: 350px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
